* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: white;
}

.boton {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.gb_i {
    width: 24px;
    height: 24px;
}

ul {
    list-style-type: none;

}

header {
    display: flex;
    justify-content: end;
    align-items: center;
}

header ul li,
header ul svg,
header ul img {
    display: inline-block;
    padding: 10px;
    align-content: center;
    align-items: center;
    font-size: small;
}

header ul {
   display: flex;
    padding-left: 0%;
    margin: 0px 0px 0px 0px;
    align-items: center;
}

footer {
    background-color: rgba(193, 193, 194, 0.479);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
}

footer ul li {
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

footer ul.partf {
    padding-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

footer ul.mec {
    padding-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#pafo {
    display: flex;
    justify-content: space-between;
}

main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.barra {
  display: flex;
    border: 1px solid rgb(180, 177, 177);
    border-radius: 50px;
    border: 80%;
    height: 45px;
  align-items: center;

}

.barra input {
    width: 500px;
    border: 0;
    padding: 0px 0px 2px 0px;
    outline:none;
    border:none;
}

.tubo {
    margin-top: 20px;

}

.tubo button {
    border-radius: 5px;
    border: none;
    background-color: #f3f3f3;
    height: 35px;
    width: 135px;
   margin-left: 10px;
   margin-right: 10px;
}

.tubo{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.boton{
    padding: 0px 7px 0px 7px;
}

